BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "spi_clk_in" SITE "G7" ;
LOCATE COMP "cs" SITE "E7" ;
LOCATE COMP "hwclk" SITE "A7" ;
LOCATE COMP "mosi" SITE "G3" ;
LOCATE COMP "reset_n" SITE "B3" ;
LOCATE COMP "clk_a" SITE "C4" ;
LOCATE COMP "tx_a" SITE "C1" ;
LOCATE COMP "miso" SITE "F7" ;
LOCATE COMP "rx_clk" SITE "C7" ;
LOCATE COMP "rx_in" SITE "A3" ;
IOBUF PORT "clk_a" DIFFDRIVE="3.5" IO_TYPE=LVDS25 DRIVE=NA PULLMODE=NONE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF HYSTERESIS=NA ;
IOBUF PORT "tx_a" DIFFDRIVE="3.5" IO_TYPE=LVDS25 DRIVE=NA PULLMODE=NONE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF HYSTERESIS=NA ;
IOBUF PORT "rx_clk" IO_TYPE=LVDS25 PULLMODE=NONE ;
IOBUF PORT "rx_in" IO_TYPE=LVDS25 PULLMODE=NONE ;
FREQUENCY NET "clk64mhz" 64.000000 MHz ;
USE PRIMARY NET "clk64mhz" ;
USE PRIMARY NET "clk" ;
IOBUF PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS25 ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
IOBUF PORT "cs" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "mosi" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "spi_clk_in" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "hwclk" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
