.DS_Store
.lxt
.txt

._Real_._Math_.vhd
.recovery
IPs/PLL_64/._Real_._Math_.vhd
IPs/PLL_64/PLL_64MHz.edn
IPs/PLL_64/PLL_64MHz.ipx
IPs/PLL_64/PLL_64MHz.lpc
IPs/PLL_64/PLL_64MHz.naf
IPs/PLL_64/PLL_64MHz.sort
IPs/PLL_64/PLL_64MHz.srp
IPs/PLL_64/PLL_64MHz.sym
IPs/PLL_64/PLL_64MHz_generate.log
IPs/PLL_64/PLL_64MHz_tmpl.v
IPs/PLL_64/generate_core.tcl
IPs/PLL_64/generate_ngd.tcl
IPs/PLL_64/msg_file.log
Makefile
Modem_machxo3.ldf
Modem_machxo3.lpf
Modem_machxo31.sty
constraint/
dump.lxt
generate_core.tcl
generate_ngd.tcl
impl1/
msg_file.log
tb/
util/
.run_manager.ini
.setting.ini
.spread_sheet.ini
.spreadsheet_view.ini
Modem_machxo3.ccl
Modem_machxo3_tcl.html
Modem_machxo3_tcr.dir/
Reveal_inserter/
promote.xml
reportview.xml
IPs/DDR_OUTPUT/DDR_TRANSMIT_generate.log
IPs/RAM_1024x8/DP_RAM1024x8_generate.log
impl1/
