BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "GPIO1" SITE "G9" ;
LOCATE COMP "GPIO2" SITE "J8" ;
LOCATE COMP "GPIO3" SITE "J5" ;
LOCATE COMP "GPIO4" SITE "h9" ;
LOCATE COMP "spi_clk_in" SITE "G7" ;
LOCATE COMP "cs" SITE "J2" ;
LOCATE COMP "hwclk" SITE "B9" ;
LOCATE COMP "mosi" SITE "H2" ;
LOCATE COMP "reset_n" SITE "D9" ;
LOCATE COMP "clk_a" SITE "A6" ;
LOCATE COMP "tx_a" SITE "A8" ;
IOBUF PORT "tx_a" DIFFDRIVE="3.5" IO_TYPE=LVDS25 DRIVE=NA PULLMODE=NONE CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF HYSTERESIS=NA ;
LOCATE COMP "miso" SITE "J6" ;
USE PRIMARY NET "clk64mhz_c" ;
FREQUENCY NET "clk64mhz_c" 64.000000 MHz ;
IOBUF PORT "hwclk" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA ;
USE PRIMARY NET "hwclk_c" ;
FREQUENCY NET "hwclk_c" 16.000000 MHz ;
IOBUF PORT "cs" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "mosi" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "spi_clk_in" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "miso" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "reset_n" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
USE PRIMARY NET "clk" ;
IOBUF PORT "GPIO1" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW ;
IOBUF PORT "GPIO2" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "GPIO3" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "GPIO4" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "clk64mhz" IO_TYPE=LVDS25 PULLMODE=NONE ;
LOCATE COMP "clk64mhz" SITE "A5" ;
# LOCATE COMP "rx_in" SITE "F1" ;
