[[Info]]
_PARENT: none
_FAMILY: xo3c00a
_FILE_FORMAT: 1.00
_DATA_VALUES: 1.00
_STATUS: Advanced

[[Project]]
DesignName: top
Family: MachXO3L
Device: LCMXO3L-4300E
Package: WLCSP81
Operating: Commercial
Version: 8.0
Performance: -5
PartName: LCMXO3L-4300E-5UWG81CTR

[[Settings]]
EstimationMode: Medium
ProcessType: Worst
SoftwareMode: Calculation
TempAmbX: Ambient Temperature
SectionY: Total Power
SectionX: Vcc
SectionLowerLimit: 0.0000
SectionUpperLimit: 0.0000
SectionResolution: 0.0000
TempAmbY: Ambient Temperature
TempAmbLowerLimit: -30.0000
TempAmbUpperLimit: 115.0000
TempAmbResolution: 29.0000
FreqY: Total Power
FreqX: No Clocks Found!
FreqLowerLimit: 10.0000
FreqUpperLimit: 100.0000
FreqAmbResolution: 20.0000
PowerMode: Normal
DisableBandgap: false
DisablePor: false
DisableDll: false
DisableOsc: false
DisablePLL0: false
DisablePLL1: false
DisableInRd0: false
DisableInRd1: false
DisableInRd2: false
DisableInRd3: false
DisableInRd4: false
DisableInRd5: false
DisableInRd6: false
DisableInRd7: false
EnablePg0: false
EnablePg1: false
EnablePg2: false
EnablePg3: false
EnablePg4: false
EnablePg5: false
EnablePg6: false
EnablePg7: false
DisableLVDS: false
DisableLVDS1: false
DisableLVDS2: false
DisableLVDS3: false
DisableLVDS4: false
DisableLVDS5: false
DisableLVDS6: false
DisableLVDS7: false

[[Thermal]]
Airflow: 200 LFM
AmbientTemperature: 60
CustomThetaSA: -1
JunctionTemperature: 60.94
MaxSafeAmbient: 83.67
ThetaBA: 10.0
ThetaCS: 0
ThetaEffective: 11.63
ThetaJA: 20.59
ThetaJB: 12.88
ThetaJC: 0
ThetaSA: -1
UserThetaBA: No
UserThetaCS: No
UserThetaEffective: No
UserThetaJA: No
UserThetaJB: No
UserThetaJC: No
UserThetaSA: No
thetaBoard: Medium Board
thetaHeatSink: No Heat Sink
thetaOption: ThermalModels

[[VDPM]]
Supply = Voltage, DPM
Vccio 3.3 = 3.300, 1.00
Vccio 2.5 = 2.500, 1.00
Vccio 1.8 = 1.800, 1.00
Vccio 1.5 = 1.500, 1.00
Vccio 1.2 = 1.200, 2.00
Vcc = 1.200, 2.00

[[Logic]]
Clk = F, AF, LUT, RAM, RIPPLE, REG, X0, X1, X2, X6, ISB, ISBLUT, ISBCE, ISBLSR, ISBM, ISBCLK
COMBINATORIAL = 16.0000, 10.0000^d^, 364, 0, 150, 0, 285, 238, 757, 113, 168, 67, 60, 36, 3, 4
clk64mhz = 64.0000, 10.0000^d^, 41, 0, 13, 61, 34, 16, 87, 24, 20, 4, 0, 16, 0, 34
clk = 16.0000, 10.0000^d^, 235, 0, 64, 337, 702, 237, 1265, 261, 3537, 2959, 129, 212, 233, 190
hwclk_c = 12.0000, 10.0000^d^, 59, 0, 14, 74, 112, 66, 285, 41, 839, 686, 18, 48, 58, 46

[[Clocks]]
Clk = F, Duty, Pfeed, Ptrunk, Pspine, Ptap, Pbranch, Strunk, Sspine, Stap, Sbranch, Etb, Ebg, Elr
COMBINATORIAL = 16.0000, 100, 0, 0, 0, 0, 0, t11_2, c9_3_c24_1, r1_1_r6_1_r16_5, b_34, 0, 0, 0
clk64mhz = 64.0000, 100, 0, t11_1, s9_1_s24_1, p3_1_p7_1_p11_1_p15_2_p19_2, c4_1_c8_1_c12_1_c16_6_c20_5, t11_1, c9_1, r1_1_r16_1, b_4, 0, 0, 0
clk = 16.0000, 100, f16_2, t11_1, s10_1_s23_1, p6_1_p10_2_p14_2_p18_2_p22_1, c7_2_c11_2_c15_11_c19_9_c23_6, t11_5, c9_9_c23_2_c24_7, r1_1_r6_10_r16_12, b_98, 0, 0, 0
hwclk_c = 12.0000, 100, f16_2, t11_1, s9_1_s25_1, p9_2_p13_1_p17_1, c10_6_c14_6_c18_1, 0, 0, 0, b_0, 0, 0, 0

[[Input Output]]
Clk = _Type, _Mode, F, AF, IP, OP, PG, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB
COMBINATORIAL = LVCMOS18, none, 16.0000, 10.0000^d^, 1, 0, OFF, 5, 2, none, UP, 0, 0, 0, 0, 0
COMBINATORIAL = LVCMOS18, none, 16.0000, 10.0000^d^, 1, 0, OFF, 5, 5, none, NONE, 0, 0, 0, 0, 0
COMBINATORIAL = LVCMOS18, none, 16.0000, 10.0000^d^, 3, 0, OFF, 5, 2, none, NONE, 0, 0, 0, 0, 0
clk64mhz = LVDS25-DIFFDRIVE:3.5, ddr, 64.0000, 10.0000^d^, 0, 4, N/A, 5, 0, IDDR_ODDR, NONE, 0, 0, 0, 0, 0
clk = LVCMOS18-8mA-SLEW:SLOW, none, 16.0000, 10.0000^d^, 0, 1, N/A, 5, 3, none, NONE, 0, 0, 0, 0, 0
clk = LVCMOS18-8mA-SLEW:SLOW, none, 16.0000, 10.0000^d^, 0, 2, N/A, 5, 2, none, NONE, 0, 0, 0, 0, 0
hwclk_c = LVCMOS18-8mA-SLEW:SLOW, none, 12.0000, 10.0000^d^, 0, 2, N/A, 5, 2, none, NONE, 0, 0, 0, 0, 0
hwclk_c = LVCMOS18, none, 12.0000, 10.0000^d^, 1, 0, OFF, 5, 5, none, NONE, 0, 0, 0, 0, 0

[[Bidi]]
ClkInpName = _Type, _Mode, InpF, InpAF, Bidi, PG, ClkOutName, OutF, OutAF, Duty, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB
COMBINATORIAL = LVCMOS18-8mA-SLEW:SLOW, none, 16.0000, 10.0000^d^, 2, OFF, N/A, 0.0000^d^, 10.0000^d^, 50, 5, 2, none, NONE, 0, 0, 0, 0, 0
COMBINATORIAL = LVCMOS18-8mA-SLEW:SLOW, none, 16.0000, 10.0000^d^, 1, OFF, N/A, 0.0000^d^, 10.0000^d^, 50, 5, 2, none, UP, 0, 0, 0, 0, 0

[[Bank Voltage]]
Bank = Voltage, InRD, LVDSO, PG
0 = Vccio 2.5, No, No, OFF
1 = Vccio 1.2, No, N/A, N/A
2 = Vccio 1.8, No, N/A, OFF
3 = Vccio 1.8, No, N/A, OFF
4 = Vccio 1.2, No, N/A, N/A
5 = Vccio 1.8, No, N/A, OFF

[[Termination]]
_Type = IP, OP, Bidi, Duty, Bank, Rth, Vth
LVCMOS18 = 4, 0, 0, 0.0, 2, 1.0E12, 0
LVCMOS18 = 2, 0, 0, 0.0, 5, 1.0E12, 0
LVDS25-DIFFDRIVE:3.5 = 0, 4, 0, 0.0, 0, 1.0E12, 0
LVCMOS18-8mA-SLEW:SLOW = 0, 1, 0, 0.0, 3, 1.0E12, 0
LVCMOS18-8mA-SLEW:SLOW = 0, 4, 3, 31.3, 2, 1.0E12, 0

[[SP RAM]]
Clk = EBR, F, AF, _Type, X0, X1, X2, X6, ISB

[[DP RAM]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB

[[DP RAM True]]
ClkA = aF, aAF, EBR, ClkB, bF, bAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB
hwclk_c = 12.0000, 10.0000^d^, 1, hwclk_c, 12.0000, 10.0000^d^, DP8KC_NORM_PORTA, DP8KC_NORM_PORTB, 0, 0, 0, 0, 0

[[FIFO DC]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB

[[I2C1]]
Clk = F, AF, I2C1

[[I2C2]]
Clk = F, AF, I2C2

[[SPI]]
Clk = F, AF, SPI

[[TC]]
Clk = F, AF, TC, WBUSED

[[UFM]]
Clk = F, AF, UFM

[[WISHBONE]]
Clk = F, AF, WISHBONE

[[PLL]]
OutClk = inF, N, V, M, PLL, STANDBY
clk64mhz = 12.0000, 4, 8, 1, 1, No

[[DQSDLL]]
Clk = F, DQSDLL

[[DLLDEL]]
Clk = F, DLLDEL

[[CLKDIV]]
Clk = F, AF, CLKDIV

[[CIBTEST]]
CIBTEST = 
0 = 

[[MCLK]]
STANDBY = Clk, F, AF, MCLK, MCLKF, SEDF
No = _CLKNAME, 266.0000, 100.0000, 1, 2.0800, 2.0800

[[POR]]
STANDBY = 
No = 

[[BANDGAP]]
STANDBY = 
No = 

[[JTAG]]
Clk = F, AF, Input, Output
COMBINATORIAL = 16.0000, 100.0000, 3, 1

[[SED]]
_Mode = SED, STATUS
SEDFA = 0, Disabled

[[PLL Clock]]
Out = In
clk64mhz = hwclk_c

[[Connections]]
Clock = Comp, Type
COMBINATORIAL = sg0/ram_addr_9__I_0/SLICE_23, 0
COMBINATORIAL = SYSCONFIG_PIN_MCLK, 1
COMBINATORIAL = SYSCONFIG_PIN_SO, 1
COMBINATORIAL = SYSCONFIG_PIN_SI, 1
clk64mhz = SLICE_11, 0
clk64mhz = tx_a, 1
clk64mhz = clk_a, 1
clk = sg0/ram_addr_9__I_0/SLICE_28, 0
clk = GPIO2, 1
clk = GPIO1, 1
clk = GPIO4, 1
hwclk_c = hwclk, 1
hwclk_c = GPIO3, 1
hwclk_c = miso, 1

[[Hierarchical Connections]]
Key = Name, Type
SIGNAL = COMBINATORIAL, DUMMY
INPUT = sg0/ram_addr_9__I_0/SLICE_23, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_24, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_25, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_26, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_27, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_37, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_38, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_39, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_40, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_41, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_42, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_43, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_44, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_45, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_46, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_47, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_48, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_49, SLICE
INPUT = sg0/f1/SLICE_51, SLICE
INPUT = sg0/f1/SLICE_52, SLICE
INPUT = sg0/f1/SLICE_53, SLICE
INPUT = sg0/f1/SLICE_54, SLICE
INPUT = sg0/f1/SLICE_55, SLICE
INPUT = sg0/f1/SLICE_56, SLICE
INPUT = sg0/f1/SLICE_57, SLICE
INPUT = sg0/f1/SLICE_58, SLICE
INPUT = sg0/f1/SLICE_59, SLICE
INPUT = sg0/f1/SLICE_60, SLICE
INPUT = sg0/f1/SLICE_61, SLICE
INPUT = sg0/f1/SLICE_62, SLICE
INPUT = sg0/f1/SLICE_63, SLICE
INPUT = sg0/f1/SLICE_64, SLICE
INPUT = sg0/f1/SLICE_65, SLICE
INPUT = sg0/f1/SLICE_66, SLICE
INPUT = sg0/f1/SLICE_67, SLICE
INPUT = sg0/f1/SLICE_68, SLICE
INPUT = sg0/f1/SLICE_70, SLICE
INPUT = sg0/f1/SLICE_72, SLICE
INPUT = sg0/f1/SLICE_73, SLICE
INPUT = sg0/f1/SLICE_75, SLICE
INPUT = sg0/f1/SLICE_76, SLICE
INPUT = sg0/f1/SLICE_77, SLICE
INPUT = sg0/f1/SLICE_78, SLICE
INPUT = sg0/f1/SLICE_81, SLICE
INPUT = sg0/f1/SLICE_85, SLICE
INPUT = sg0/f1/SLICE_86, SLICE
INPUT = sg0/f1/SLICE_87, SLICE
INPUT = sg0/f1/SLICE_88, SLICE
INPUT = sg0/f1/SLICE_89, SLICE
INPUT = sg0/f1/SLICE_90, SLICE
INPUT = sg0/f1/SLICE_91, SLICE
INPUT = sg0/f1/SLICE_92, SLICE
INPUT = sg0/f1/SLICE_93, SLICE
INPUT = sg0/f1/SLICE_94, SLICE
INPUT = sg0/f1/SLICE_98, SLICE
INPUT = sg0/f1/SLICE_104, SLICE
INPUT = sg0/f1/SLICE_105, SLICE
INPUT = sg0/f1/SLICE_106, SLICE
INPUT = sg0/f1/SLICE_108, SLICE
INPUT = sg0/f1/SLICE_111, SLICE
INPUT = sg0/f1/SLICE_112, SLICE
INPUT = sg0/f1/SLICE_113, SLICE
INPUT = sg0/f1/SLICE_114, SLICE
INPUT = sg0/f1/SLICE_116, SLICE
INPUT = sg0/f1/SLICE_120, SLICE
INPUT = sg0/f1/SLICE_121, SLICE
INPUT = sg0/f1/SLICE_122, SLICE
INPUT = sg0/f1/SLICE_134, SLICE
INPUT = sg0/f1/SLICE_136, SLICE
INPUT = sg0/f1/SLICE_137, SLICE
INPUT = sg0/f1/SLICE_139, SLICE
INPUT = sg0/f1/SLICE_140, SLICE
INPUT = sg0/f1/SLICE_141, SLICE
INPUT = sg0/f1/SLICE_142, SLICE
INPUT = sg0/f1/SLICE_143, SLICE
INPUT = sg0/f1/SLICE_144, SLICE
INPUT = sg0/f1/SLICE_148, SLICE
INPUT = sg0/f1/SLICE_149, SLICE
INPUT = sg0/f1/SLICE_151, SLICE
INPUT = sg0/f1/SLICE_152, SLICE
INPUT = sg0/f1/SLICE_153, SLICE
INPUT = sg0/f1/SLICE_154, SLICE
INPUT = sg0/f1/SLICE_155, SLICE
INPUT = sg0/f1/SLICE_156, SLICE
INPUT = sg0/f1/SLICE_157, SLICE
INPUT = sg0/f1/SLICE_158, SLICE
INPUT = sg0/f1/SLICE_161, SLICE
INPUT = sg0/f1/SLICE_164, SLICE
INPUT = sg0/f1/SLICE_168, SLICE
INPUT = sg0/f1/SLICE_169, SLICE
INPUT = sg0/f1/SLICE_170, SLICE
INPUT = sg0/f1/SLICE_171, SLICE
INPUT = sg0/f1/SLICE_172, SLICE
INPUT = sg0/f1/SLICE_175, SLICE
INPUT = sg0/f1/SLICE_176, SLICE
INPUT = sg0/f1/SLICE_177, SLICE
INPUT = sg0/f1/SLICE_179, SLICE
INPUT = sg0/f1/SLICE_180, SLICE
INPUT = sg0/f1/SLICE_181, SLICE
INPUT = sg0/f1/SLICE_182, SLICE
INPUT = sg0/f1/SLICE_186, SLICE
INPUT = sg0/f1/SLICE_187, SLICE
INPUT = sg0/f1/SLICE_188, SLICE
INPUT = sg0/f1/SLICE_189, SLICE
INPUT = sg0/f1/SLICE_190, SLICE
INPUT = sg0/f1/SLICE_191, SLICE
INPUT = sg0/f1/SLICE_192, SLICE
INPUT = sg0/f1/SLICE_193, SLICE
INPUT = sg0/f1/SLICE_194, SLICE
INPUT = sg0/f1/SLICE_195, SLICE
INPUT = sg0/f1/SLICE_196, SLICE
INPUT = sg0/f1/SLICE_197, SLICE
INPUT = sg0/f1/SLICE_198, SLICE
INPUT = sg0/f1/SLICE_199, SLICE
INPUT = sg0/f1/SLICE_200, SLICE
INPUT = sg0/f1/SLICE_201, SLICE
INPUT = sg0/f1/SLICE_202, SLICE
INPUT = sg0/f1/SLICE_203, SLICE
INPUT = sg0/f1/SLICE_204, SLICE
INPUT = sg0/f1/SLICE_205, SLICE
INPUT = sg0/f1/SLICE_206, SLICE
INPUT = sg0/f1/SLICE_207, SLICE
INPUT = sg0/f1/SLICE_208, SLICE
INPUT = sg0/f1/SLICE_209, SLICE
INPUT = sg0/f1/SLICE_210, SLICE
INPUT = sg0/f1/SLICE_211, SLICE
INPUT = sg0/f1/SLICE_212, SLICE
INPUT = sg0/f1/SLICE_213, SLICE
INPUT = sg0/f1/SLICE_214, SLICE
INPUT = sg0/f1/SLICE_215, SLICE
INPUT = sg0/f1/SLICE_216, SLICE
INPUT = sg0/f1/SLICE_217, SLICE
INPUT = sg0/f1/SLICE_218, SLICE
INPUT = sg0/f1/SLICE_219, SLICE
INPUT = sg0/f1/SLICE_220, SLICE
INPUT = sg0/f1/SLICE_221, SLICE
INPUT = sg0/f1/SLICE_222, SLICE
INPUT = sg0/f1/SLICE_223, SLICE
INPUT = sg0/f1/SLICE_224, SLICE
INPUT = sg0/f1/SLICE_225, SLICE
INPUT = sg0/f1/SLICE_226, SLICE
INPUT = sg0/f1/SLICE_227, SLICE
INPUT = sg0/f1/SLICE_228, SLICE
INPUT = sg0/f1/SLICE_229, SLICE
INPUT = sg0/f1/SLICE_230, SLICE
INPUT = sg0/f1/SLICE_231, SLICE
INPUT = sg0/f1/SLICE_233, SLICE
INPUT = sg0/f1/SLICE_235, SLICE
INPUT = sg0/f1/SLICE_236, SLICE
INPUT = sg0/f1/SLICE_238, SLICE
INPUT = o_addr_9__I_0/i61/SLICE_485, SLICE
INPUT = i10514/SLICE_486, SLICE
INPUT = sg0/i10292/SLICE_487, SLICE
INPUT = sg0/i10368/SLICE_488, SLICE
INPUT = sg0/i10366/SLICE_489, SLICE
INPUT = sg0/mux_564_i2/SLICE_490, SLICE
INPUT = sg0/i10520/SLICE_491, SLICE
INPUT = sg0/i10388/SLICE_492, SLICE
INPUT = sg0/ram_addr_9__I_0/i10267/SLICE_493, SLICE
INPUT = sg0/ram_addr_9__I_0/i10512/SLICE_494, SLICE
INPUT = sg0/ram_addr_9__I_0/i10489/SLICE_495, SLICE
INPUT = sg0/ram_addr_9__I_0/mux_37_i2/SLICE_496, SLICE
INPUT = sg0/ram_addr_9__I_0/i10318/SLICE_497, SLICE
INPUT = sg0/ram_addr_9__I_0/i10518/SLICE_498, SLICE
INPUT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/i10516/SLICE_499, SLICE
INPUT = sg0/f1/i10386/SLICE_500, SLICE
INPUT = sg0/f1/i10384/SLICE_501, SLICE
INPUT = sg0/f1/i10382/SLICE_502, SLICE
INPUT = sg0/f1/i10380/SLICE_503, SLICE
INPUT = sg0/f1/i10378/SLICE_504, SLICE
INPUT = sg0/f1/i10364/SLICE_505, SLICE
INPUT = sg0/f1/i10376/SLICE_506, SLICE
INPUT = sg0/f1/i10374/SLICE_507, SLICE
INPUT = sg0/f1/i10362/SLICE_508, SLICE
INPUT = sg0/f1/i10372/SLICE_509, SLICE
INPUT = sg0/f1/i10360/SLICE_510, SLICE
INPUT = sg0/f1/i10358/SLICE_511, SLICE
INPUT = sg0/f1/i10414/SLICE_512, SLICE
INPUT = sg0/f1/i10412/SLICE_513, SLICE
INPUT = sg0/f1/i10408/SLICE_514, SLICE
INPUT = sg0/f1/i10406/SLICE_515, SLICE
INPUT = sg0/f1/i10404/SLICE_516, SLICE
INPUT = sg0/f1/i10402/SLICE_517, SLICE
INPUT = sg0/f1/i10400/SLICE_518, SLICE
INPUT = sg0/f1/i10396/SLICE_519, SLICE
INPUT = sg0/f1/i10394/SLICE_520, SLICE
INPUT = sg0/f1/i10392/SLICE_521, SLICE
INPUT = sg0/f1/i10390/SLICE_522, SLICE
INPUT = i10416/SLICE_523, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_525, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_526, SLICE
INPUT = sg0/SLICE_527, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_529, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_530, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_531, SLICE
INPUT = sg0/f1/SLICE_532, SLICE
INPUT = o_addr_9__I_0/SLICE_534, SLICE
INPUT = o_addr_9__I_0/SLICE_535, SLICE
INPUT = o_addr_9__I_0/SLICE_536, SLICE
INPUT = o_addr_9__I_0/SLICE_537, SLICE
INPUT = o_addr_9__I_0/SLICE_538, SLICE
INPUT = o_addr_9__I_0/SLICE_539, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_540, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_541, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_544, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_545, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_546, SLICE
INPUT = SLICE_547, SLICE
INPUT = sg0/SLICE_569, SLICE
INPUT = SLICE_570, SLICE
INPUT = sg0/SLICE_571, SLICE
INPUT = sg0/SLICE_575, SLICE
INPUT = sg0/SLICE_576, SLICE
INPUT = sg0/SLICE_577, SLICE
INPUT = sg0/SLICE_578, SLICE
INPUT = sg0/SLICE_580, SLICE
INPUT = sg0/SLICE_581, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_583, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_591, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_593, SLICE
INPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_595, SLICE
INPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_596, SLICE
INPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_597, SLICE
INPUT = sg0/f1/SLICE_598, SLICE
INPUT = sg0/f1/SLICE_599, SLICE
INPUT = sg0/f1/SLICE_602, SLICE
INPUT = sg0/f1/SLICE_603, SLICE
INPUT = sg0/f1/SLICE_604, SLICE
INPUT = sg0/f1/SLICE_605, SLICE
INPUT = sg0/f1/SLICE_606, SLICE
INPUT = sg0/f1/SLICE_607, SLICE
INPUT = sg0/f1/SLICE_608, SLICE
INPUT = sg0/f1/SLICE_609, SLICE
INPUT = sg0/f1/SLICE_610, SLICE
INPUT = sg0/f1/SLICE_611, SLICE
INPUT = sg0/f1/SLICE_613, SLICE
INPUT = sg0/f1/SLICE_614, SLICE
INPUT = sg0/f1/SLICE_618, SLICE
INPUT = sg0/f1/SLICE_619, SLICE
INPUT = sg0/f1/SLICE_620, SLICE
INPUT = sg0/f1/SLICE_622, SLICE
INPUT = sg0/f1/SLICE_623, SLICE
INPUT = sg0/f1/SLICE_624, SLICE
INPUT = sg0/f1/SLICE_625, SLICE
INPUT = sg0/f1/SLICE_626, SLICE
INPUT = sg0/f1/SLICE_627, SLICE
INPUT = sg0/f1/SLICE_628, SLICE
INPUT = sg0/f1/SLICE_629, SLICE
INPUT = sg0/f1/SLICE_630, SLICE
INPUT = sg0/f1/SLICE_631, SLICE
INPUT = sg0/f1/SLICE_632, SLICE
INPUT = sg0/f1/SLICE_633, SLICE
INPUT = sg0/f1/SLICE_634, SLICE
INPUT = sg0/f1/SLICE_635, SLICE
INPUT = sg0/f1/SLICE_636, SLICE
INPUT = sg0/f1/SLICE_637, SLICE
INPUT = sg0/f1/SLICE_638, SLICE
INPUT = sg0/f1/SLICE_639, SLICE
INPUT = sg0/f1/SLICE_640, SLICE
INPUT = sg0/f1/SLICE_641, SLICE
INPUT = sg0/f1/SLICE_642, SLICE
INPUT = sg0/f1/SLICE_643, SLICE
INPUT = sg0/f1/SLICE_644, SLICE
INPUT = sg0/f1/SLICE_645, SLICE
INPUT = sg0/f1/SLICE_646, SLICE
INPUT = sg0/f1/SLICE_647, SLICE
INPUT = sg0/f1/SLICE_649, SLICE
INPUT = sg0/f1/SLICE_650, SLICE
INPUT = sg0/f1/SLICE_651, SLICE
INPUT = sg0/f1/SLICE_652, SLICE
INPUT = sg0/f1/SLICE_653, SLICE
INPUT = sg0/f1/SLICE_654, SLICE
INPUT = sg0/f1/SLICE_655, SLICE
INPUT = sg0/f1/SLICE_656, SLICE
INPUT = sg0/f1/SLICE_657, SLICE
INPUT = sg0/f1/SLICE_660, SLICE
INPUT = sg0/f1/SLICE_661, SLICE
INPUT = sg0/f1/SLICE_662, SLICE
INPUT = sg0/f1/SLICE_663, SLICE
INPUT = sg0/f1/SLICE_664, SLICE
INPUT = sg0/f1/SLICE_665, SLICE
INPUT = sg0/f1/SLICE_666, SLICE
INPUT = sg0/f1/SLICE_667, SLICE
INPUT = SLICE_668, SLICE
INPUT = sg0/f1/SLICE_670, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_672, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_673, SLICE
INPUT = sg0/SLICE_674, SLICE
INPUT = sg0/SLICE_675, SLICE
INPUT = sg0/SLICE_676, SLICE
INPUT = sg0/SLICE_677, SLICE
INPUT = sg0/SLICE_678, SLICE
INPUT = sg0/f1/SLICE_680, SLICE
INPUT = sg0/f1/SLICE_681, SLICE
INPUT = sg0/f1/SLICE_683, SLICE
INPUT = sg0/f1/SLICE_684, SLICE
INPUT = sg0/f1/SLICE_685, SLICE
INPUT = sg0/f1/SLICE_686, SLICE
INPUT = sg0/f1/SLICE_687, SLICE
INPUT = sg0/f1/SLICE_688, SLICE
INPUT = sg0/f1/SLICE_689, SLICE
INPUT = sg0/f1/SLICE_690, SLICE
INPUT = sg0/f1/SLICE_691, SLICE
INPUT = sg0/f1/SLICE_692, SLICE
INPUT = sg0/f1/SLICE_693, SLICE
INPUT = sg0/f1/SLICE_694, SLICE
INPUT = sg0/f1/SLICE_695, SLICE
INPUT = sg0/f1/SLICE_696, SLICE
INPUT = sg0/f1/SLICE_697, SLICE
INPUT = o_addr_9__I_0/spi/SLICE_698, SLICE
INPUT = SLICE_701, SLICE
INPUT = SLICE_702, SLICE
INPUT = sg0/SLICE_703, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_704, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_707, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_708, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_709, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_710, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_713, SLICE
INPUT = sg0/f1/SLICE_714, SLICE
INPUT = sg0/f1/SLICE_715, SLICE
INPUT = sg0/f1/SLICE_716, SLICE
INPUT = sg0/f1/SLICE_717, SLICE
INPUT = sg0/f1/SLICE_718, SLICE
INPUT = sg0/f1/SLICE_719, SLICE
INPUT = sg0/f1/SLICE_720, SLICE
INPUT = sg0/f1/SLICE_721, SLICE
INPUT = o_addr_9__I_0/SLICE_722, SLICE
INPUT = sg0/SLICE_723, SLICE
INPUT = sg0/f1/SLICE_724, SLICE
INPUT = sg0/ram_addr_9__I_0/SLICE_725, SLICE
INPUT = sg0/f1/SLICE_729, SLICE
INPUT = spi_clk_in, PIO
INPUT = mosi, PIO
INPUT = cs, PIO
INPUT = reset_n, PIO
INPUT = SYSCONFIG_PIN_MCLK, PIO
INPUT = SYSCONFIG_PIN_SO, PIO
INPUT = SYSCONFIG_PIN_SN, PIO
INPUT = SYSCONFIG_PIN_SI, PIO
SIGNAL = clk64mhz, DUMMY
OUTPUT = SLICE_11, SLICE
OUTPORT = n109, F0
OUTPORT = cntr3_21, Q0
OUTPORT = n108, F1
OUTPORT = cntr3_22, Q1
OUTPORT = n10774, FCO
OUTPUT = SLICE_12, SLICE
OUTPORT = n111, F0
OUTPORT = cntr3_19, Q0
OUTPORT = n110, F1
OUTPORT = cntr3_20, Q1
OUTPORT = n10773, FCO
OUTPUT = SLICE_13, SLICE
OUTPORT = n113, F0
OUTPORT = cntr3_17, Q0
OUTPORT = n112, F1
OUTPORT = cntr3_18, Q1
OUTPORT = n10772, FCO
OUTPUT = SLICE_14, SLICE
OUTPORT = n115, F0
OUTPORT = cntr3_15, Q0
OUTPORT = n114, F1
OUTPORT = cntr3_16, Q1
OUTPORT = n10771, FCO
OUTPUT = SLICE_15, SLICE
OUTPORT = n117, F0
OUTPORT = cntr3_13, Q0
OUTPORT = n116, F1
OUTPORT = cntr3_14, Q1
OUTPORT = n10770, FCO
OUTPUT = SLICE_16, SLICE
OUTPORT = n119, F0
OUTPORT = cntr3_11, Q0
OUTPORT = n118, F1
OUTPORT = cntr3_12, Q1
OUTPORT = n10769, FCO
OUTPUT = SLICE_17, SLICE
OUTPORT = n121, F0
OUTPORT = cntr3_9, Q0
OUTPORT = n120, F1
OUTPORT = cntr3_10, Q1
OUTPORT = n10768, FCO
OUTPUT = SLICE_18, SLICE
OUTPORT = n123, F0
OUTPORT = cntr3_7, Q0
OUTPORT = n122, F1
OUTPORT = cntr3_8, Q1
OUTPORT = n10767, FCO
OUTPUT = SLICE_19, SLICE
OUTPORT = n125, F0
OUTPORT = cntr3_5, Q0
OUTPORT = n124, F1
OUTPORT = cntr3_6, Q1
OUTPORT = n10766, FCO
OUTPUT = SLICE_20, SLICE
OUTPORT = n127, F0
OUTPORT = cntr3_3, Q0
OUTPORT = n126, F1
OUTPORT = cntr3_4, Q1
OUTPORT = n10765, FCO
OUTPUT = SLICE_21, SLICE
OUTPORT = n129, F0
OUTPORT = cntr3_1, Q0
OUTPORT = n128, F1
OUTPORT = cntr3_2, Q1
OUTPORT = n10764, FCO
OUTPUT = SLICE_22, SLICE
OUTPORT = n130, F1
OUTPORT = cntr3_0, Q1
OUTPORT = n10763, FCO
OUTPUT = SLICE_240, SLICE
OUTPORT = n107, F0
OUTPORT = cntr3_23, Q0
OUTPORT = n106, F1
OUTPORT = cntr3_24, Q1
OUTPUT = SLICE_244, SLICE
OUTPORT = blink_N_158, F0
OUTPORT = blink, Q0
OUTPORT = n4913, F1
OUTPUT = trx/SLICE_245, SLICE
OUTPORT = trx/n23, F0
OUTPORT = clk, Q0
OUTPUT = trx/SLICE_447, SLICE
OUTPORT = trx/n25, F0
OUTPORT = trx/cntr_0, Q0
OUTPORT = trx/n24, F1
OUTPORT = trx/cntr_1, Q1
OUTPUT = trx/SLICE_448, SLICE
OUTPORT = trx/tx0_N_207, F0
OUTPORT = trx/tx0, Q0
OUTPORT = trx/n12714, F1
OUTPUT = SLICE_449, SLICE
OUTPORT = sg0/f1/n2512, F0
OUTPORT = trx/tx1, Q0
OUTPORT = sg0/f1/n2501, F1
OUTPUT = SLICE_450, SLICE
OUTPORT = sg0/f1/a11_5, F0
OUTPORT = trx/tx_buf_1, Q0
OUTPORT = sg0/f1/n10474, F1
OUTPORT = trx/tx_buf_2, Q1
OUTPUT = trx/SLICE_451, SLICE
OUTPORT = trx/tx_buf_29_N_176_3, F0
OUTPORT = trx/tx_buf_3, Q0
OUTPORT = trx/tx_buf_29_N_176_4, F1
OUTPORT = trx/tx_buf_4, Q1
OUTPUT = trx/SLICE_452, SLICE
OUTPORT = trx/tx_buf_29_N_176_5, F0
OUTPORT = trx/tx_buf_5, Q0
OUTPORT = trx/tx_buf_29_N_176_6, F1
OUTPORT = trx/tx_buf_6, Q1
OUTPUT = trx/SLICE_453, SLICE
OUTPORT = trx/tx_buf_29_N_176_7, F0
OUTPORT = trx/tx_buf_7, Q0
OUTPORT = trx/tx_buf_29_N_176_8, F1
OUTPORT = trx/tx_buf_8, Q1
OUTPUT = trx/SLICE_454, SLICE
OUTPORT = trx/tx_buf_29_N_176_9, F0
OUTPORT = trx/tx_buf_9, Q0
OUTPORT = trx/tx_buf_29_N_176_10, F1
OUTPORT = trx/tx_buf_10, Q1
OUTPUT = trx/SLICE_455, SLICE
OUTPORT = trx/tx_buf_29_N_176_11, F0
OUTPORT = trx/tx_buf_11, Q0
OUTPORT = trx/tx_buf_29_N_176_12, F1
OUTPORT = trx/tx_buf_12, Q1
OUTPUT = trx/SLICE_456, SLICE
OUTPORT = trx/tx_buf_29_N_176_13, F0
OUTPORT = trx/tx_buf_13, Q0
OUTPORT = trx/tx_buf_29_N_176_14, F1
OUTPORT = trx/tx_buf_14, Q1
OUTPUT = SLICE_457, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n20, F0
OUTPORT = trx/tx_buf_15, Q0
OUTPORT = sg0/f1/n10648, F1
OUTPUT = trx/SLICE_458, SLICE
OUTPORT = trx/tx_buf_29_N_176_16, F0
OUTPORT = trx/tx_buf_16, Q0
OUTPORT = trx/tx_buf_29_N_176_17, F1
OUTPORT = trx/tx_buf_17, Q1
OUTPUT = trx/SLICE_459, SLICE
OUTPORT = trx/tx_buf_29_N_176_18, F0
OUTPORT = trx/tx_buf_18, Q0
OUTPORT = trx/tx_buf_29_N_176_19, F1
OUTPORT = trx/tx_buf_19, Q1
OUTPUT = trx/SLICE_460, SLICE
OUTPORT = trx/tx_buf_29_N_176_20, F0
OUTPORT = trx/tx_buf_20, Q0
OUTPORT = trx/tx_buf_29_N_176_21, F1
OUTPORT = trx/tx_buf_21, Q1
OUTPUT = trx/SLICE_461, SLICE
OUTPORT = trx/tx_buf_29_N_176_22, F0
OUTPORT = trx/tx_buf_22, Q0
OUTPORT = trx/tx_buf_29_N_176_23, F1
OUTPORT = trx/tx_buf_23, Q1
OUTPUT = trx/SLICE_462, SLICE
OUTPORT = trx/tx_buf_29_N_176_24, F0
OUTPORT = trx/tx_buf_24, Q0
OUTPORT = trx/tx_buf_29_N_176_25, F1
OUTPORT = trx/tx_buf_25, Q1
OUTPUT = trx/SLICE_463, SLICE
OUTPORT = trx/tx_buf_29_N_176_26, F0
OUTPORT = trx/tx_buf_26, Q0
OUTPORT = trx/tx_buf_29_N_176_27, F1
OUTPORT = trx/tx_buf_27, Q1
OUTPUT = trx/SLICE_464, SLICE
OUTPORT = trx/tx_buf_29_N_176_28, F0
OUTPORT = trx/tx_buf_28, Q0
OUTPORT = trx/tx_buf_29_N_176_29, F1
OUTPORT = trx/tx_buf_29, Q1
OUTPUT = trx/SLICE_481, SLICE
OUTPORT = trx/n22, F0
OUTPORT = tx_done, Q0
OUTPORT = trx/n12672, F1
OUTPUT = tx_a, PIO
OUTPUT = clk_a, PIO
SIGNAL = clk, DUMMY
OUTPUT = sg0/ram_addr_9__I_0/SLICE_28, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n70, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_15, Q0
OUTPUT = sg0/ram_addr_9__I_0/SLICE_29, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n72, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_13, Q0
OUTPORT = sg0/ram_addr_9__I_0/n71, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_14, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10857, FCO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_30, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n74, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_11, Q0
OUTPORT = sg0/ram_addr_9__I_0/n73, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_12, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10856, FCO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_31, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n76, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_9, Q0
OUTPORT = sg0/ram_addr_9__I_0/n75, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_10, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10855, FCO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_32, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n78, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_7, Q0
OUTPORT = sg0/ram_addr_9__I_0/n77, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_8, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10854, FCO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_33, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n80, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_5, Q0
OUTPORT = sg0/ram_addr_9__I_0/n79, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_6, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10853, FCO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_34, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n82, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_3, Q0
OUTPORT = sg0/ram_addr_9__I_0/n81, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_4, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10852, FCO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_35, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n84, F0
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_1, Q0
OUTPORT = sg0/ram_addr_9__I_0/n83, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_2, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10851, FCO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_36, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n85, F1
OUTPORT = sg0/ram_addr_9__I_0/pad_cntr_0, Q1
OUTPORT = sg0/ram_addr_9__I_0/n10850, FCO
OUTPUT = sg0/SLICE_69, SLICE
OUTPORT = sg0/f1/n10329, F0
OUTPORT = sg0/RDATA1_29, Q0
OUTPORT = sg0/RDATA0_28, Q1
OUTPUT = sg0/SLICE_71, SLICE
OUTPORT = sg0/f1/n10327, F0
OUTPORT = sg0/RDATA0_26, Q0
OUTPORT = sg0/f1/n10328, F1
OUTPORT = sg0/RDATA0_27, Q1
OUTPORT = sg0/f1/n10753, FCO
OUTPUT = sg0/SLICE_74, SLICE
OUTPORT = sg0/f1/n10325, F0
OUTPORT = sg0/RDATA0_25, Q0
OUTPORT = sg0/f1/n10326, F1
OUTPORT = sg0/RDATA1_27, Q1
OUTPORT = sg0/f1/n10752, FCO
OUTPUT = sg0/SLICE_79, SLICE
OUTPORT = sg0/f1/n10323, F0
OUTPORT = sg0/RDATA0_32, Q0
OUTPORT = sg0/f1/n10324, F1
OUTPORT = sg0/RDATA0_33, Q1
OUTPORT = sg0/f1/n10751, FCO
OUTPUT = sg0/SLICE_80, SLICE
OUTPORT = sg0/f1/n10321, F0
OUTPORT = sg0/RDATA0_31, Q0
OUTPORT = sg0/f1/n10322, F1
OUTPORT = sg0/RDATA1_33, Q1
OUTPORT = sg0/f1/n10750, FCO
OUTPUT = sg0/SLICE_82, SLICE
OUTPORT = sg0/f1/n10319, F0
OUTPORT = sg0/RDATA1_31, Q0
OUTPORT = sg0/f1/n10320, F1
OUTPORT = sg0/RDATA0_30, Q1
OUTPORT = sg0/f1/n10749, FCO
OUTPUT = sg0/SLICE_83, SLICE
OUTPORT = sg0/f1/n10317, F0
OUTPORT = sg0/RDATA1_3, Q0
OUTPORT = sg0/f1/n10318, F1
OUTPORT = sg0/RDATA0_29, Q1
OUTPORT = sg0/f1/n10748, FCO
OUTPUT = sg0/SLICE_84, SLICE
OUTPORT = sg0/RDATA1_25, Q0
OUTPORT = sg0/f1/n10316, F1
OUTPORT = sg0/RDATA0_24, Q1
OUTPORT = sg0/f1/n10747, FCO
OUTPUT = sg0/SLICE_95, SLICE
OUTPORT = sg0/f1/n3, F0
OUTPORT = sg0/RDATA0_35, Q0
OUTPORT = sg0/RDATA1_37, Q1
OUTPUT = sg0/SLICE_96, SLICE
OUTPORT = sg0/f1/n5, F0
OUTPORT = sg0/RDATA1_35, Q0
OUTPORT = sg0/f1/n4, F1
OUTPORT = sg0/RDATA0_34, Q1
OUTPORT = sg0/f1/n10864, FCO
OUTPUT = sg0/SLICE_97, SLICE
OUTPORT = sg0/f1/n7, F0
OUTPORT = sg0/RDATA0_62, Q0
OUTPORT = sg0/f1/n6, F1
OUTPORT = sg0/RDATA0_63, Q1
OUTPORT = sg0/f1/n10863, FCO
OUTPUT = sg0/SLICE_99, SLICE
OUTPORT = sg0/f1/n9_adj_980, F0
OUTPORT = sg0/RDATA0_40, Q0
OUTPORT = sg0/f1/n8, F1
OUTPORT = sg0/RDATA0_41, Q1
OUTPORT = sg0/f1/n10862, FCO
OUTPUT = sg0/SLICE_100, SLICE
OUTPORT = sg0/f1/n11, F0
OUTPORT = sg0/RDATA0_39, Q0
OUTPORT = sg0/f1/n10, F1
OUTPORT = sg0/RDATA1_41, Q1
OUTPORT = sg0/f1/n10861, FCO
OUTPUT = sg0/SLICE_101, SLICE
OUTPORT = sg0/f1/n13, F0
OUTPORT = sg0/RDATA1_39, Q0
OUTPORT = sg0/f1/n12, F1
OUTPORT = sg0/RDATA0_38, Q1
OUTPORT = sg0/f1/n10860, FCO
OUTPUT = sg0/SLICE_102, SLICE
OUTPORT = sg0/f1/n15, F0
OUTPORT = sg0/RDATA0_36, Q0
OUTPORT = sg0/f1/n14, F1
OUTPORT = sg0/RDATA0_37, Q1
OUTPORT = sg0/f1/n10859, FCO
OUTPUT = sg0/SLICE_103, SLICE
OUTPORT = sg0/RDATA0_61, Q0
OUTPORT = sg0/f1/n16, F1
OUTPORT = sg0/RDATA1_63, Q1
OUTPORT = sg0/f1/n10858, FCO
OUTPUT = sg0/SLICE_107, SLICE
OUTPORT = sg0/f1/n2628, F0
OUTPORT = sg0/RDATA1_53, Q0
OUTPORT = sg0/f1/n249, F1
OUTPORT = sg0/RDATA0_52, Q1
OUTPUT = sg0/SLICE_109, SLICE
OUTPORT = sg0/f1/n2630, F0
OUTPORT = sg0/RDATA0_50, Q0
OUTPORT = sg0/f1/n2629, F1
OUTPORT = sg0/RDATA0_51, Q1
OUTPORT = sg0/f1/n10848, FCO
OUTPUT = sg0/SLICE_110, SLICE
OUTPORT = sg0/f1/n2632, F0
OUTPORT = sg0/RDATA0_49, Q0
OUTPORT = sg0/f1/n2631, F1
OUTPORT = sg0/RDATA1_51, Q1
OUTPORT = sg0/f1/n10847, FCO
OUTPUT = sg0/SLICE_115, SLICE
OUTPORT = sg0/RDATA0_2, Q0
OUTPORT = sg0/f1/n2633, F1
OUTPORT = sg0/RDATA0_3, Q1
OUTPORT = sg0/f1/n10846, FCO
OUTPUT = sg0/SLICE_117, SLICE
OUTPORT = sg0/f1/n23, F0
OUTPORT = sg0/RDATA0_44, Q0
OUTPORT = sg0/RDATA0_45, Q1
OUTPUT = sg0/SLICE_118, SLICE
OUTPORT = sg0/f1/n10308, F0
OUTPORT = sg0/RDATA0_22, Q0
OUTPORT = sg0/f1/n10315, F1
OUTPORT = sg0/RDATA0_23, Q1
OUTPUT = sg0/SLICE_119, SLICE
OUTPORT = sg0/f1/n25, F0
OUTPORT = sg0/RDATA0_43, Q0
OUTPORT = sg0/f1/n24, F1
OUTPORT = sg0/RDATA1_45, Q1
OUTPORT = sg0/f1/n10844, FCO
OUTPUT = sg0/SLICE_123, SLICE
OUTPORT = sg0/f1/n10306, F0
OUTPORT = sg0/RDATA0_21, Q0
OUTPORT = sg0/f1/n10307, F1
OUTPORT = sg0/RDATA1_23, Q1
OUTPORT = sg0/f1/n10739, FCO
OUTPUT = sg0/SLICE_124, SLICE
OUTPORT = sg0/f1/n29, F0
OUTPORT = sg0/RDATA0_48, Q0
OUTPORT = sg0/f1/n28, F1
OUTPORT = sg0/f1/n10842, FCO
OUTPUT = sg0/SLICE_125, SLICE
OUTPORT = sg0/f1/n10304, F0
OUTPORT = sg0/RDATA1_21, Q0
OUTPORT = sg0/f1/n10305, F1
OUTPORT = sg0/RDATA0_20, Q1
OUTPORT = sg0/f1/n10738, FCO
OUTPUT = sg0/SLICE_126, SLICE
OUTPORT = sg0/f1/n10302, F0
OUTPORT = sg0/RDATA0_1, Q0
OUTPORT = sg0/f1/n10303, F1
OUTPORT = sg0/RDATA0_19, Q1
OUTPORT = sg0/f1/n10737, FCO
OUTPUT = sg0/SLICE_127, SLICE
OUTPORT = sg0/RDATA1_19, Q0
OUTPORT = sg0/f1/n10301, F1
OUTPORT = sg0/RDATA0_18, Q1
OUTPORT = sg0/f1/n10736, FCO
OUTPUT = sg0/SLICE_128, SLICE
OUTPORT = sg0/f1/n204, F0
OUTPORT = sg0/RDATA0_11, Q0
OUTPORT = sg0/RDATA1_13, Q1
OUTPUT = sg0/SLICE_129, SLICE
OUTPORT = sg0/f1/n31, F0
OUTPORT = sg0/RDATA0_47, Q0
OUTPORT = sg0/f1/n30, F1
OUTPORT = sg0/RDATA1_49, Q1
OUTPORT = sg0/f1/n10841, FCO
OUTPUT = sg0/SLICE_130, SLICE
OUTPORT = sg0/f1/n33, F0
OUTPORT = sg0/RDATA1_47, Q0
OUTPORT = sg0/f1/n32, F1
OUTPORT = sg0/RDATA0_46, Q1
OUTPORT = sg0/f1/n10840, FCO
OUTPUT = sg0/SLICE_131, SLICE
OUTPORT = sg0/f1/n2506, F0
OUTPORT = sg0/RDATA0_16, Q0
OUTPORT = sg0/f1/n2505, F1
OUTPORT = sg0/RDATA0_17, Q1
OUTPORT = sg0/f1/n10735, FCO
OUTPUT = sg0/SLICE_132, SLICE
OUTPORT = sg0/RDATA1_43, Q0
OUTPORT = sg0/f1/n34, F1
OUTPORT = sg0/RDATA0_42, Q1
OUTPORT = sg0/f1/n10839, FCO
OUTPUT = sg0/SLICE_133, SLICE
OUTPORT = sg0/f1/n2508, F0
OUTPORT = sg0/RDATA0_15, Q0
OUTPORT = sg0/f1/n2507, F1
OUTPORT = sg0/RDATA1_17, Q1
OUTPORT = sg0/f1/n10734, FCO
OUTPUT = sg0/SLICE_135, SLICE
OUTPORT = sg0/f1/n2510, F0
OUTPORT = sg0/RDATA1_15, Q0
OUTPORT = sg0/f1/n2509, F1
OUTPORT = sg0/RDATA0_14, Q1
OUTPORT = sg0/f1/n10733, FCO
OUTPUT = sg0/SLICE_138, SLICE
OUTPORT = sg0/RDATA0_12, Q0
OUTPORT = sg0/f1/n2511, F1
OUTPORT = sg0/RDATA0_13, Q1
OUTPORT = sg0/f1/n10732, FCO
OUTPUT = sg0/SLICE_145, SLICE
OUTPORT = sg0/f1/n228, F0
OUTPORT = sg0/RDATA1_11, Q0
OUTPORT = sg0/RDATA0_10, Q1
OUTPUT = sg0/SLICE_146, SLICE
OUTPORT = sg0/f1/n2497, F0
OUTPORT = sg0/RDATA1_1, Q0
OUTPORT = sg0/f1/n2496, F1
OUTPORT = sg0/RDATA0_9, Q1
OUTPORT = sg0/f1/n10730, FCO
OUTPUT = sg0/SLICE_147, SLICE
OUTPORT = sg0/f1/n2499, F0
OUTPORT = sg0/RDATA1_9, Q0
OUTPORT = sg0/f1/n2498, F1
OUTPORT = sg0/RDATA0_8, Q1
OUTPORT = sg0/f1/n10729, FCO
OUTPUT = sg0/SLICE_150, SLICE
OUTPORT = sg0/RDATA0_6, Q0
OUTPORT = sg0/f1/n2500, F1
OUTPORT = sg0/RDATA0_7, Q1
OUTPORT = sg0/f1/n10728, FCO
OUTPUT = sg0/f1/SLICE_159, SLICE
OUTPORT = sg0/f1/sum_13, F0
OUTPORT = sg_output_i_12, Q0
OUTPORT = sg_output_i_0, Q1
OUTPUT = sg0/f1/SLICE_160, SLICE
OUTPORT = sg0/f1/sum_11, F0
OUTPORT = sg_output_i_10, Q0
OUTPORT = sg0/f1/sum_12, F1
OUTPORT = sg_output_i_11, Q1
OUTPORT = sg0/f1/n10821, FCO
OUTPUT = sg0/f1/SLICE_162, SLICE
OUTPORT = sg0/f1/sum_9, F0
OUTPORT = sg_output_i_8, Q0
OUTPORT = sg0/f1/sum_10, F1
OUTPORT = sg_output_i_9, Q1
OUTPORT = sg0/f1/n10820, FCO
OUTPUT = sg0/f1/SLICE_163, SLICE
OUTPORT = sg0/f1/sum_7, F0
OUTPORT = sg_output_i_6, Q0
OUTPORT = sg0/f1/sum_8, F1
OUTPORT = sg_output_i_7, Q1
OUTPORT = sg0/f1/n10819, FCO
OUTPUT = sg0/f1/SLICE_165, SLICE
OUTPORT = sg0/f1/sum_5, F0
OUTPORT = sg_output_i_4, Q0
OUTPORT = sg0/f1/sum_6, F1
OUTPORT = sg_output_i_5, Q1
OUTPORT = sg0/f1/n10818, FCO
OUTPUT = sg0/f1/SLICE_166, SLICE
OUTPORT = sg0/f1/sum_3, F0
OUTPORT = sg_output_i_2, Q0
OUTPORT = sg0/f1/sum_4, F1
OUTPORT = sg_output_i_3, Q1
OUTPORT = sg0/f1/n10817, FCO
OUTPUT = sg0/f1/SLICE_167, SLICE
OUTPORT = sg0/f1/sum_1, F0
OUTPORT = sg_output_q_0, Q0
OUTPORT = sg0/f1/sum_2, F1
OUTPORT = sg_output_q_1, Q1
OUTPORT = sg0/f1/n10816, FCO
OUTPUT = sg0/SLICE_173, SLICE
OUTPORT = sg0/f1/n2639, F0
OUTPORT = sg0/RDATA0_54, Q0
OUTPORT = sg0/f1/n93, F1
OUTPORT = sg0/RDATA0_55, Q1
OUTPUT = sg0/SLICE_174, SLICE
OUTPORT = sg0/f1/n2641, F0
OUTPORT = sg0/RDATA0_53, Q0
OUTPORT = sg0/f1/n2640, F1
OUTPORT = sg0/RDATA1_55, Q1
OUTPORT = sg0/f1/n10718, FCO
OUTPUT = sg0/SLICE_178, SLICE
OUTPORT = sg0/f1/n2643, F0
OUTPORT = sg0/RDATA1_61, Q0
OUTPORT = sg0/f1/n2642, F1
OUTPORT = sg0/RDATA0_60, Q1
OUTPORT = sg0/f1/n10717, FCO
OUTPUT = sg0/SLICE_183, SLICE
OUTPORT = sg0/f1/n2645, F0
OUTPORT = sg0/RDATA0_58, Q0
OUTPORT = sg0/f1/n2644, F1
OUTPORT = sg0/RDATA0_59, Q1
OUTPORT = sg0/f1/n10716, FCO
OUTPUT = sg0/SLICE_184, SLICE
OUTPORT = sg0/f1/n2647, F0
OUTPORT = RDATA0_57, Q0
OUTPORT = sg0/f1/n2646, F1
OUTPORT = sg0/RDATA1_59, Q1
OUTPORT = sg0/f1/n10715, FCO
OUTPUT = sg0/SLICE_185, SLICE
OUTPORT = RDATA1_57, Q0
OUTPORT = sg0/f1/n2648, F1
OUTPORT = sg0/RDATA0_56, Q1
OUTPORT = sg0/f1/n10714, FCO
OUTPUT = sg0/SLICE_234, SLICE
OUTPORT = sg0/f1/n2470, F0
OUTPORT = sg0/RDATA0_5, Q0
OUTPORT = sg0/f1/n2469, F1
OUTPORT = sg0/RDATA1_7, Q1
OUTPORT = sg0/f1/n10699, FCO
OUTPUT = sg0/SLICE_237, SLICE
OUTPORT = sg0/f1/n2472, F0
OUTPORT = sg0/RDATA1_5, Q0
OUTPORT = sg0/f1/n2471, F1
OUTPORT = sg0/RDATA0_4, Q1
OUTPORT = sg0/f1/n10698, FCO
OUTPUT = SLICE_246, SLICE
OUTPORT = n25, F0
OUTPORT = cntr2_0, Q0
OUTPORT = n24, F1
OUTPORT = cntr2_1, Q1
OUTPUT = SLICE_247, SLICE
OUTPORT = n23, F0
OUTPORT = cntr2_2, Q0
OUTPORT = n22_adj_1016, F1
OUTPORT = cntr2_3, Q1
OUTPUT = sg0/SLICE_248, SLICE
OUTPORT = sg0/n25, F0
OUTPORT = filter_stage_0, Q0
OUTPORT = sg0/n24, F1
OUTPORT = filter_stage_1, Q1
OUTPUT = sg0/SLICE_249, SLICE
OUTPORT = sg0/n12805, OFX0
OUTPORT = filter_stage_2, Q0
OUTPUT = sg0/SLICE_250, SLICE
OUTPORT = sg0/n12848, OFX0
OUTPORT = filter_stage_3, Q0
OUTPUT = SLICE_251, SLICE
OUTPORT = gen_enable_N_167, F0
OUTPORT = gen_enable, Q0
OUTPORT = ram_data_7__N_51, F1
OUTPUT = SLICE_253, SLICE
OUTPORT = n12686, F0
OUTPORT = msg_done_d, Q0
OUTPORT = sg0/clk_enable_255, F1
OUTPUT = sg0/SLICE_324, SLICE
OUTPORT = sg0/data_0, F0
OUTPORT = sg0/RDATA0_64, Q0
OUTPORT = n1184, F1
OUTPORT = sg0/RDATA1_0, Q1
OUTPUT = sg0/SLICE_325, SLICE
OUTPORT = sg0/data_3, OFX0
OUTPORT = sg0/RDATA0_65, Q0
OUTPUT = sg0/SLICE_343, SLICE
OUTPORT = sg0/data_1, OFX0
OUTPORT = sg0/RDATA1_65, Q0
OUTPUT = sg0/SLICE_344, SLICE
OUTPORT = sg0/clk_enable_202, F0
OUTPORT = sg0/filter_enable, Q0
OUTPORT = sg0/n12666, F1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_345, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/next_code_N_441, F0
OUTPORT = sg0/preamble_valid, Q0
OUTPUT = sg0/ram_addr_9__I_0/SLICE_346, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n498, F0
OUTPORT = sg0/ram_addr_9__I_0/data_cntr_0, Q0
OUTPORT = sg0/ram_addr_9__I_0/n497, F1
OUTPORT = sg0/ram_addr_9__I_0/data_cntr_1, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_347, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n486, F0
OUTPORT = sg0/ram_addr_9__I_0/data_cntr_12, Q0
OUTPORT = sg0/ram_addr_9__I_0/n485, F1
OUTPORT = sg0/ram_addr_9__I_0/data_cntr_13, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_348, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n484, F0
OUTPORT = sg0/ram_addr_9__I_0/data_cntr_14, Q0
OUTPORT = sg0/ram_addr_9__I_0/n483, F1
OUTPORT = sg0/ram_addr_9__I_0/data_cntr_15, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_349, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n770, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n753, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n771, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n754, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_350, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n772, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n755, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n773, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n756, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_351, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n774, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n757, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n775, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n758, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_352, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n776, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n759, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n777, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n760, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_353, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n778, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n761, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n779, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n762, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_354, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n780, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n763, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n781, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n764, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_355, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n782, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n765, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n783, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n766, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/SLICE_357, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n769, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/next_code_N_444, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12712, F1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/SLICE_363, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/n2, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_8, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_1, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/SLICE_368, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/n10950, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_8, Q0
OUTPORT = sg0/ram_addr_9__I_0/s1_1, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_0, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/SLICE_376, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/n2, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_8, Q0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_2, Q1
OUTPUT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/SLICE_383, SLICE
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_8_N_472_8, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_8, Q0
OUTPORT = sg0/ram_addr_9__I_0/s1_0, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_0, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_385, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n192, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_0, Q0
OUTPORT = sg0/ram_addr_9__I_0/n191, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_1, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_386, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n190, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_2, Q0
OUTPORT = sg0/ram_addr_9__I_0/n189, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_3, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_387, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n188, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_4, Q0
OUTPORT = sg0/ram_addr_9__I_0/n187, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_5, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_388, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n186, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_6, Q0
OUTPORT = sg0/ram_addr_9__I_0/n185, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_7, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_389, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n184, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_8, Q0
OUTPORT = sg0/ram_addr_9__I_0/n183, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_9, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_390, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n182, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_10, Q0
OUTPORT = sg0/ram_addr_9__I_0/n181, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_11, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_391, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n180, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_12, Q0
OUTPORT = sg0/ram_addr_9__I_0/n179, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_13, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_392, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n178, F0
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_14, Q0
OUTPORT = sg0/ram_addr_9__I_0/n177, F1
OUTPORT = sg0/ram_addr_9__I_0/preamble_cntr_15, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_393, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n496, F0
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_0, Q0
OUTPORT = sg0/ram_addr_9__I_0/n495, F1
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_1, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_394, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n494, F0
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_2, Q0
OUTPORT = sg0/ram_addr_9__I_0/n493, F1
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_3, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_395, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n492, F0
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_4, Q0
OUTPORT = sg0/ram_addr_9__I_0/n491, F1
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_5, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_396, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n490, F0
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_6, Q0
OUTPORT = sg0/ram_addr_9__I_0/n489, F1
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_7, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_397, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n488, F0
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_8, Q0
OUTPORT = sg0/ram_addr_9__I_0/n487, F1
OUTPORT = sg0/ram_addr_9__I_0/ram_addr_9, Q1
OUTPUT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/SLICE_398, SLICE
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/cn2, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/l_cn2, Q0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/n10, F1
OUTPUT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/SLICE_412, SLICE
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/n2, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_24, Q0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_1, Q1
OUTPUT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/SLICE_425, SLICE
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/n10952, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_24, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12055, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_0, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_426, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n11, F0
OUTPORT = sg0/ram_addr_9__I_0/spread_cntr_0, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12691, F1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_427, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n230, F0
OUTPORT = sg0/ram_addr_9__I_0/spread_cntr_1, Q0
OUTPORT = sg0/ram_addr_9__I_0/n229, F1
OUTPORT = sg0/ram_addr_9__I_0/spread_cntr_2, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_428, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n228, F0
OUTPORT = sg0/ram_addr_9__I_0/spread_cntr_3, Q0
OUTPUT = sg0/ram_addr_9__I_0/SLICE_429, SLICE
OUTPORT = sg0/ram_addr_9__I_0/w1_N_489, F0
OUTPORT = sg0/ram_addr_9__I_0/w1, Q0
OUTPORT = sg0/n12678, F1
OUTPUT = sg0/SLICE_430, SLICE
OUTPORT = sg0/n12655, F0
OUTPORT = sg0/scrambler_valid, Q0
OUTPORT = sg0/n12735, F1
OUTPUT = sg0/SLICE_431, SLICE
OUTPORT = sg0/n11894, F0
OUTPORT = sg0/state_0, Q0
OUTPORT = sg0/n35, F1
OUTPUT = SLICE_432, SLICE
OUTPORT = sg0/n7, F0
OUTPORT = sg0/state_1, Q0
OUTPORT = n12654, F1
OUTPUT = sg0/SLICE_433, SLICE
OUTPORT = sg0/n5, F0
OUTPORT = sg0/state_3, Q0
OUTPORT = sg0/n12742, F1
OUTPUT = SLICE_434, SLICE
OUTPORT = sg0/n10947, F0
OUTPORT = sg0/state_2_adj_1010, Q0
OUTPORT = n12121, F1
OUTPUT = SLICE_441, SLICE
OUTPORT = VCC_net, F0
OUTPORT = sg_output_q_12, Q0
OUTPORT = GND_net, F1
OUTPORT = sg_output_q_10, Q1
OUTPUT = GPIO2, PIO
OUTPUT = GPIO1, PIO
OUTPUT = sg0/ram_addr_9__I_0/SLICE_443, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n613, F0
OUTPORT = state_0, Q0
OUTPORT = sg0/ram_addr_9__I_0/n8058, F1
OUTPORT = state_1, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_444, SLICE
OUTPORT = sg0/ram_addr_9__I_0/state_2_N_384_2, F0
OUTPORT = state_2, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12720, F1
OUTPUT = SLICE_446, SLICE
OUTPORT = sg0/f1/n2634, F0
OUTPORT = transmit_dd, Q0
OUTPORT = sg0/f1/n10490, F1
OUTPORT = transmit_d, Q1
OUTPUT = SLICE_465, SLICE
OUTPORT = OUTPUT_Q_0, F0
OUTPORT = tx_data_1, Q0
OUTPORT = OUTPUT_Q_1, F1
OUTPORT = tx_data_2, Q1
OUTPUT = SLICE_466, SLICE
OUTPORT = OUTPUT_Q_2, F0
OUTPORT = tx_data_3, Q0
OUTPORT = OUTPUT_Q_3, F1
OUTPORT = tx_data_4, Q1
OUTPUT = SLICE_467, SLICE
OUTPORT = OUTPUT_Q_4, F0
OUTPORT = tx_data_5, Q0
OUTPORT = OUTPUT_Q_5, F1
OUTPORT = tx_data_6, Q1
OUTPUT = SLICE_468, SLICE
OUTPORT = OUTPUT_Q_6, F0
OUTPORT = tx_data_7, Q0
OUTPORT = OUTPUT_Q_7, F1
OUTPORT = tx_data_8, Q1
OUTPUT = SLICE_469, SLICE
OUTPORT = OUTPUT_Q_8, F0
OUTPORT = tx_data_9, Q0
OUTPORT = OUTPUT_Q_9, F1
OUTPORT = tx_data_10, Q1
OUTPUT = SLICE_470, SLICE
OUTPORT = OUTPUT_Q_10, F0
OUTPORT = tx_data_11, Q0
OUTPORT = OUTPUT_Q_11, F1
OUTPORT = tx_data_12, Q1
OUTPUT = SLICE_471, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n12011, F0
OUTPORT = tx_data_13, Q0
OUTPORT = sg0/ram_addr_9__I_0/n17_adj_1006, F1
OUTPUT = SLICE_472, SLICE
OUTPORT = tx_data_31_N_84_16, F0
OUTPORT = tx_data_16, Q0
OUTPORT = n7, F1
OUTPUT = SLICE_473, SLICE
OUTPORT = OUTPUT_I_0, F0
OUTPORT = tx_data_17, Q0
OUTPORT = OUTPUT_I_1, F1
OUTPORT = tx_data_18, Q1
OUTPUT = SLICE_474, SLICE
OUTPORT = OUTPUT_I_2, F0
OUTPORT = tx_data_19, Q0
OUTPORT = OUTPUT_I_3, F1
OUTPORT = tx_data_20, Q1
OUTPUT = SLICE_475, SLICE
OUTPORT = OUTPUT_I_4, F0
OUTPORT = tx_data_21, Q0
OUTPORT = OUTPUT_I_5, F1
OUTPORT = tx_data_22, Q1
OUTPUT = SLICE_476, SLICE
OUTPORT = OUTPUT_I_6, F0
OUTPORT = tx_data_23, Q0
OUTPORT = OUTPUT_I_7, F1
OUTPORT = tx_data_24, Q1
OUTPUT = SLICE_477, SLICE
OUTPORT = OUTPUT_I_8, F0
OUTPORT = tx_data_25, Q0
OUTPORT = OUTPUT_I_9, F1
OUTPORT = tx_data_26, Q1
OUTPUT = SLICE_478, SLICE
OUTPORT = OUTPUT_I_10, F0
OUTPORT = tx_data_27, Q0
OUTPORT = OUTPUT_I_11, F1
OUTPORT = tx_data_28, Q1
OUTPUT = SLICE_479, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n6_adj_1005, F0
OUTPORT = tx_data_29, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12_adj_1007, F1
OUTPUT = SLICE_480, SLICE
OUTPORT = tx_data_31_N_84_14, F0
OUTPORT = tx_data_31, Q0
OUTPORT = clk_enable_271, F1
OUTPUT = SLICE_482, SLICE
OUTPORT = n12759, F0
OUTPORT = tx_done_d, Q0
OUTPORT = GPIO4_c, F1
OUTPUT = GPIO4, PIO
OUTPUT = SLICE_483, SLICE
OUTPORT = tx_state_1_N_120_0, F0
OUTPORT = tx_state_0, Q0
OUTPORT = n11, F1
OUTPORT = tx_state_1, Q1
OUTPUT = SLICE_484, SLICE
OUTPORT = o_addr_9__I_0/n12638, F0
OUTPORT = tx_state_d_0, Q0
OUTPORT = n31, F1
OUTPORT = tx_state_d_1, Q1
OUTPUT = SLICE_524, SLICE
OUTPORT = n4888, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_0, Q0
OUTPORT = n12_adj_1018, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_1, Q1
OUTPUT = sg0/SLICE_528, SLICE
OUTPORT = n12674, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_10, Q0
OUTPORT = sg0/n1366, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_11, Q1
OUTPUT = SLICE_550, SLICE
OUTPORT = n4890, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_10, Q0
OUTPORT = clk_enable_8, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_11, Q1
OUTPUT = SLICE_551, SLICE
OUTPORT = n10994, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_6, Q0
OUTPORT = n22, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_7, Q1
OUTPUT = SLICE_552, SLICE
OUTPORT = n34, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_4, Q0
OUTPORT = n28, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_5, Q1
OUTPUT = SLICE_553, SLICE
OUTPORT = n3163, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_6, Q0
OUTPORT = n12734, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_7, Q1
OUTPUT = SLICE_554, SLICE
OUTPORT = n4408, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_4, Q0
OUTPORT = n12757, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_5, Q1
OUTPUT = SLICE_555, SLICE
OUTPORT = n4172, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_14, Q0
OUTPORT = n12743, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_15, Q1
OUTPUT = SLICE_556, SLICE
OUTPORT = n3383, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_21, Q0
OUTPORT = n12730, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_22, Q1
OUTPUT = SLICE_557, SLICE
OUTPORT = n11726, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_23, Q0
OUTPORT = n12756, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_3, Q1
OUTPUT = SLICE_558, SLICE
OUTPORT = n3310, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_12, Q0
OUTPORT = n12729, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_13, Q1
OUTPUT = SLICE_559, SLICE
OUTPORT = n3813, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_16, Q0
OUTPORT = n12760, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_17, Q1
OUTPUT = SLICE_560, SLICE
OUTPORT = n3968, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_23, Q0
OUTPORT = n12765, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_3, Q1
OUTPUT = SLICE_561, SLICE
OUTPORT = n4244, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_2, Q0
OUTPORT = n12753, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_20, Q1
OUTPUT = SLICE_562, SLICE
OUTPORT = n2741, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_18, Q0
OUTPORT = n12739, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_19, Q1
OUTPUT = SLICE_563, SLICE
OUTPORT = n12732, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_12, Q0
OUTPORT = clk_enable_243, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_13, Q1
OUTPUT = SLICE_564, SLICE
OUTPORT = n12733, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_14, Q0
OUTPORT = clk_enable_107, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_15, Q1
OUTPUT = SLICE_565, SLICE
OUTPORT = n12687, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_8, Q0
OUTPORT = n4885, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg1_9, Q1
OUTPUT = SLICE_566, SLICE
OUTPORT = n12601, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_16, Q0
OUTPORT = n12769, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_17, Q1
OUTPUT = SLICE_567, SLICE
OUTPORT = clk_enable_151, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_2, Q0
OUTPORT = n12653, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_20, Q1
OUTPUT = SLICE_568, SLICE
OUTPORT = clk_enable_270, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_18, Q0
OUTPORT = clk_enable_122, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_19, Q1
OUTPUT = sg0/SLICE_572, SLICE
OUTPORT = sg0/clk_enable_111, F0
OUTPORT = sg_output_q_3, Q0
OUTPORT = sg0/n12783, F1
OUTPORT = sg_output_q_4, Q1
OUTPUT = sg0/SLICE_573, SLICE
OUTPORT = sg0/clk_enable_136, F0
OUTPORT = sg_output_q_7, Q0
OUTPORT = sg0/n12176, F1
OUTPORT = sg_output_q_8, Q1
OUTPUT = sg0/SLICE_574, SLICE
OUTPORT = sg0/n12642, F0
OUTPORT = sg_output_i_1, Q0
OUTPORT = sg0/clk_enable_116, F1
OUTPUT = SLICE_579, SLICE
OUTPORT = n13108, F0
OUTPORT = sg_output_q_11, Q0
OUTPORT = n12648, F1
OUTPORT = sg_output_q_2, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_582, SLICE
OUTPORT = sg0/n12656, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_5, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12738, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_6, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_584, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n2699, F0
OUTPORT = sg0/ram_addr_9__I_0/next_code, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12761, F1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_585, SLICE
OUTPORT = sg0/ram_addr_9__I_0/scramble_data_3_N_326_0, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_1, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12054, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_2, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_586, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n12668, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_2, Q0
OUTPORT = sg0/ram_addr_9__I_0/n7918, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_4, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_587, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n12726, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_6, Q0
OUTPORT = sg0/ram_addr_9__I_0/n1179, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_7, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_588, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n12660, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_7, Q0
OUTPORT = sg0/ram_addr_9__I_0/n4676, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_0, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_589, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n12658, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_0, Q0
OUTPORT = sg0/ram_addr_9__I_0/n3, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_3, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_590, SLICE
OUTPORT = sg0/ram_addr_9__I_0/clk_enable_6, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_3, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12703, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_4, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_592, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n31, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_7, Q0
OUTPORT = sg0/ram_addr_9__I_0/n11995, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_1, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_594, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n22, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_5, Q0
OUTPORT = sg0/ram_addr_9__I_0/n14, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_x_6, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_621, SLICE
OUTPORT = sg0/ram_addr_9__I_0/clk_enable_249, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_4, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12657, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_6, Q1
OUTPUT = sg0/SLICE_669, SLICE
OUTPORT = sg0/n12551, F0
OUTPORT = sg_output_q_9, Q0
OUTPORT = sg0/n12548, F1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_679, SLICE
OUTPORT = sg0/ram_addr_9__I_0/scramble_data_3_N_326_1, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_5, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12688, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_y_7, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_705, SLICE
OUTPORT = sg0/ram_addr_9__I_0/clk_enable_207, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_3, Q0
OUTPORT = sg0/ram_addr_9__I_0/n1777, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_4, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_706, SLICE
OUTPORT = n12690, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_1, Q0
OUTPORT = ram_data_7_N_41_0, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg1/reg_y_2, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_711, SLICE
OUTPORT = sg0/ram_addr_9__I_0/n12725, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_3, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12650, F1
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/sg1/zg2/reg_x_5, Q1
OUTPUT = sg0/ram_addr_9__I_0/SLICE_712, SLICE
OUTPORT = sg0/ram_addr_9__I_0/clk_enable_135, F0
OUTPORT = sg0/ram_addr_9__I_0/data_preamble_3__I_0/n767, Q0
OUTPORT = sg0/ram_addr_9__I_0/n12778, F1
OUTPUT = SLICE_726, SLICE
OUTPORT = n30, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_21, Q0
OUTPORT = n21, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_22, Q1
OUTPUT = SLICE_727, SLICE
OUTPORT = n8, F0
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_8, Q0
OUTPORT = n12, F1
OUTPORT = sg0/ram_addr_9__I_0/scramble_code_1__I_0/pn0/reg0_9, Q1
OUTPUT = sg0/SLICE_728, SLICE
OUTPORT = sg0/n4869, F0
OUTPORT = sg_output_q_5, Q0
OUTPORT = sg0/n12758, F1
OUTPORT = sg_output_q_6, Q1
SIGNAL = hwclk_c, DUMMY
INPUT = hwclk, PIO
OUTPUT = o_addr_9__I_0/spi/SLICE_0, SLICE
OUTPORT = o_addr_9__I_0/spi/n109, F0
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_9, Q0
OUTPORT = o_addr_9__I_0/spi/n108, F1
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_10, Q1
OUTPUT = o_addr_9__I_0/spi/SLICE_1, SLICE
OUTPORT = o_addr_9__I_0/spi/n111, F0
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_7, Q0
OUTPORT = o_addr_9__I_0/spi/n110, F1
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_8, Q1
OUTPORT = o_addr_9__I_0/spi/n10676, FCO
OUTPUT = o_addr_9__I_0/spi/SLICE_2, SLICE
OUTPORT = o_addr_9__I_0/spi/n113, F0
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_5, Q0
OUTPORT = o_addr_9__I_0/spi/n112, F1
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_6, Q1
OUTPORT = o_addr_9__I_0/spi/n10675, FCO
OUTPUT = o_addr_9__I_0/spi/SLICE_3, SLICE
OUTPORT = o_addr_9__I_0/spi/n115, F0
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_3, Q0
OUTPORT = o_addr_9__I_0/spi/n114, F1
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_4, Q1
OUTPORT = o_addr_9__I_0/spi/n10674, FCO
OUTPUT = o_addr_9__I_0/spi/SLICE_4, SLICE
OUTPORT = o_addr_9__I_0/spi/n117, F0
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_1, Q0
OUTPORT = o_addr_9__I_0/spi/n116, F1
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_2, Q1
OUTPORT = o_addr_9__I_0/spi/n10673, FCO
OUTPUT = o_addr_9__I_0/spi/SLICE_5, SLICE
OUTPORT = o_addr_9__I_0/spi/n118, F1
OUTPORT = o_addr_9__I_0/spi/data_byte_cnt_0, Q1
OUTPORT = o_addr_9__I_0/spi/n10672, FCO
OUTPUT = o_addr_9__I_0/SLICE_6, SLICE
OUTPORT = o_addr_8, F0
OUTPORT = i_tx_done_d, Q0
OUTPORT = o_addr_9, F1
OUTPUT = o_addr_9__I_0/SLICE_7, SLICE
OUTPORT = o_addr_6, F0
OUTPORT = o_addr_9__I_0/o_msg_length_6, Q0
OUTPORT = o_addr_7, F1
OUTPORT = o_addr_9__I_0/o_msg_length_7, Q1
OUTPORT = o_addr_9__I_0/spi/n10670, FCO
OUTPUT = o_addr_9__I_0/SLICE_8, SLICE
OUTPORT = o_addr_4, F0
OUTPORT = o_addr_9__I_0/o_msg_length_4, Q0
OUTPORT = o_addr_5, F1
OUTPORT = o_addr_9__I_0/o_msg_length_5, Q1
OUTPORT = o_addr_9__I_0/spi/n10669, FCO
OUTPUT = o_addr_9__I_0/SLICE_9, SLICE
OUTPORT = o_addr_2, F0
OUTPORT = o_addr_9__I_0/o_msg_length_2, Q0
OUTPORT = o_addr_3, F1
OUTPORT = o_addr_9__I_0/o_msg_length_3, Q1
OUTPORT = o_addr_9__I_0/spi/n10668, FCO
OUTPUT = o_addr_9__I_0/SLICE_10, SLICE
OUTPORT = o_addr_9__I_0/o_msg_length_0, Q0
OUTPORT = o_addr_1, F1
OUTPORT = o_addr_9__I_0/o_msg_length_1, Q1
OUTPORT = o_addr_9__I_0/spi/n10667, FCO
OUTPUT = SLICE_50, SLICE
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_8, Q0
OUTPORT = sg0/f1/n2475, F1
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_9, Q1
OUTPORT = sg0/f1/n10696, FCO
OUTPUT = SLICE_232, SLICE
OUTPORT = sg0/f1/n2468, F0
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_6, Q0
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_7, Q1
OUTPUT = SLICE_239, SLICE
OUTPORT = sg0/f1/n2474, F0
OUTPORT = GPIO3_c, Q0
OUTPORT = sg0/f1/n2473, F1
OUTPORT = sg0/f1/n10697, FCO
OUTPUT = GPIO3, PIO
OUTPUT = o_addr_9__I_0/spi/SLICE_259, SLICE
OUTPORT = o_addr_9__I_0/spi/n8, F0
OUTPORT = o_addr_9__I_0/spi/bit_cnt_0, Q0
OUTPORT = o_addr_9__I_0/spi/hwclk_c_enable_50, F1
OUTPUT = o_addr_9__I_0/spi/SLICE_260, SLICE
OUTPORT = o_addr_9__I_0/spi/n389, F0
OUTPORT = o_addr_9__I_0/spi/bit_cnt_1, Q0
OUTPORT = o_addr_9__I_0/spi/n388, F1
OUTPORT = o_addr_9__I_0/spi/bit_cnt_2, Q1
OUTPUT = o_addr_9__I_0/spi/SLICE_261, SLICE
OUTPORT = o_addr_9__I_0/spi/data_en_hold_N_975, F0
OUTPORT = o_addr_9__I_0/spi/data_en_hold, Q0
OUTPUT = o_addr_9__I_0/spi/SLICE_262, SLICE
OUTPORT = o_addr_9__I_0/spi/data_en_hold_N_977, F0
OUTPORT = o_addr_9__I_0/spi/data_en_neg, Q0
OUTPORT = o_addr_9__I_0/spi/hwclk_c_enable_34, F1
OUTPUT = o_addr_9__I_0/spi/SLICE_263, SLICE
OUTPORT = o_addr_9__I_0/spi/eof_byte_N_969, F0
OUTPORT = o_addr_9__I_0/spi/eof_byte, Q0
OUTPUT = o_addr_9__I_0/SLICE_270, SLICE
OUTPORT = o_addr_9__I_0/i_data_0, F0
OUTPORT = o_addr_9__I_0/spi/miso_d_0, Q0
OUTPORT = o_addr_9__I_0/n12426, F1
OUTPUT = o_addr_9__I_0/spi/SLICE_271, SLICE
OUTPORT = o_addr_9__I_0/spi/miso_d_6_N_897_1, OFX0
OUTPORT = o_addr_9__I_0/spi/miso_d_1, Q0
OUTPUT = o_addr_9__I_0/spi/SLICE_272, SLICE
OUTPORT = o_addr_9__I_0/spi/miso_d_6_N_897_2, F0
OUTPORT = o_addr_9__I_0/spi/miso_d_2, Q0
OUTPORT = o_addr_9__I_0/spi/miso_d_6_N_897_3, F1
OUTPORT = o_addr_9__I_0/spi/miso_d_3, Q1
OUTPUT = o_addr_9__I_0/spi/SLICE_273, SLICE
OUTPORT = o_addr_9__I_0/spi/miso_d_6_N_897_4, F0
OUTPORT = o_addr_9__I_0/spi/miso_d_4, Q0
OUTPORT = o_addr_9__I_0/spi/miso_d_6_N_897_5, F1
OUTPORT = o_addr_9__I_0/spi/miso_d_5, Q1
OUTPUT = o_addr_9__I_0/SLICE_274, SLICE
OUTPORT = o_addr_9__I_0/spi/miso_d_6_N_897_6, F0
OUTPORT = o_addr_9__I_0/spi/miso_d_6, Q0
OUTPORT = o_addr_9__I_0/i_data_6, F1
OUTPUT = o_addr_9__I_0/spi/SLICE_279, SLICE
OUTPORT = o_addr_9__I_0/spi/n5, F0
OUTPORT = o_addr_9__I_0/spi/serv_byte_cnt_0, Q0
OUTPORT = o_addr_9__I_0/spi/hwclk_c_enable_53, F1
OUTPUT = o_addr_9__I_0/spi/SLICE_280, SLICE
OUTPORT = o_addr_9__I_0/spi/n95, F0
OUTPORT = o_addr_9__I_0/spi/serv_byte_cnt_1, Q0
OUTPUT = o_addr_9__I_0/SLICE_442, SLICE
OUTPORT = o_addr_9__I_0/spi/miso_d_6_N_897_7, F0
OUTPORT = spi_miso, Q0
OUTPORT = o_addr_9__I_0/i_data_7, F1
OUTPUT = miso, PIO
OUTPUT = SLICE_533, SLICE
OUTPORT = sg0/f1/n12625, F0
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_0, Q0
OUTPORT = sg0/f1/n12628, F1
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_1, Q1
OUTPUT = o_addr_9__I_0/SLICE_542, SLICE
OUTPORT = o_addr_9__I_0/spi/n12027, F0
OUTPORT = reg_cw, Q0
OUTPORT = o_addr_9__I_0/spi/n12713, F1
OUTPUT = o_addr_9__I_0/spi/SLICE_543, SLICE
OUTPORT = o_wr, F0
OUTPORT = o_data_6, Q0
OUTPORT = n12694, F1
OUTPORT = o_data_7, Q1
OUTPUT = o_addr_9__I_0/spi/SLICE_548, SLICE
OUTPORT = o_addr_9__I_0/hwclk_c_enable_55, F0
OUTPORT = o_data_0, Q0
OUTPORT = o_addr_9__I_0/spi/n11873, F1
OUTPORT = o_data_1, Q1
OUTPUT = o_addr_9__I_0/spi/SLICE_549, SLICE
OUTPORT = o_addr_9__I_0/spi/n12641, F0
OUTPORT = o_addr_9__I_0/spi/eof_byte_d, Q0
OUTPORT = o_addr_9__I_0/n4596, F1
OUTPUT = SLICE_600, SLICE
OUTPORT = sg0/f1/n12338, F0
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_2, Q0
OUTPORT = sg0/f1/INPUT_45, F1
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_3, Q1
OUTPUT = SLICE_601, SLICE
OUTPORT = sg0/f1/n2886, F0
OUTPORT = o_addr_9__I_0/spi/i_mosi_d, Q0
OUTPORT = sg0/f1/n12737, F1
OUTPORT = o_addr_9__I_0/spi/i_sclk_d, Q1
OUTPUT = SLICE_612, SLICE
OUTPORT = sg0/f1/n12629, F0
OUTPORT = o_addr_9__I_0/spi/spi_mode_0, Q0
OUTPORT = sg0/f1/n12740, F1
OUTPORT = o_addr_9__I_0/spi/spi_mode_1, Q1
OUTPUT = SLICE_615, SLICE
OUTPORT = sg0/f1/n12731, F0
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_4, Q0
OUTPORT = sg0/f1/n13083, F1
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_5, Q1
OUTPUT = SLICE_616, SLICE
OUTPORT = sg0/f1/n12744, F0
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_0, Q0
OUTPORT = sg0/f1/n12568, F1
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_1, Q1
OUTPUT = SLICE_617, SLICE
OUTPORT = sg0/f1/n12749, F0
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_2, Q0
OUTPORT = sg0/f1/n12353, F1
OUTPORT = o_addr_9__I_0/spi/spi_ram_addr_3, Q1
OUTPUT = SLICE_648, SLICE
OUTPORT = sg0/f1/n12357, F0
OUTPORT = o_addr_9__I_0/spi/i_ssn_dd, Q0
OUTPORT = sg0/f1/n12577, F1
OUTPUT = SLICE_658, SLICE
OUTPORT = sg0/f1/n12408, F0
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_4, Q0
OUTPORT = sg0/f1/n3844, F1
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_5, Q1
OUTPUT = SLICE_659, SLICE
OUTPORT = sg0/f1/n12578, F0
OUTPORT = o_addr_9__I_0/spi/i_sclk_dd, Q0
OUTPORT = sg0/f1/n2892, F1
OUTPORT = o_addr_9__I_0/spi/i_ssn_d, Q1
OUTPUT = o_addr_9__I_0/spi/SLICE_671, SLICE
OUTPORT = o_addr_9__I_0/hwclk_c_enable_24, F0
OUTPORT = o_data_4, Q0
OUTPORT = o_addr_9__I_0/hwclk_c_enable_17, F1
OUTPORT = o_data_5, Q1
OUTPUT = SLICE_682, SLICE
OUTPORT = sg0/f1/n12554, F0
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_6, Q0
OUTPORT = sg0/f1/n11520, F1
OUTPORT = o_addr_9__I_0/spi/mosi_shift_d_7, Q1
OUTPUT = o_addr_9__I_0/SLICE_699, SLICE
OUTPORT = o_addr_9__I_0/spi/n12652, F0
OUTPORT = o_addr_9__I_0/o_msg_length_8, Q0
OUTPORT = o_addr_9__I_0/n12670, F1
OUTPORT = o_addr_9__I_0/o_msg_length_9, Q1
OUTPUT = o_addr_9__I_0/spi/SLICE_700, SLICE
OUTPORT = o_addr_9__I_0/spi/hwclk_c_enable_32, F0
OUTPORT = o_data_2, Q0
OUTPORT = o_addr_9__I_0/spi/n4860, F1
OUTPORT = o_data_3, Q1
OUTPUT = ram_data_7__I_0/DP_RAM1024x8_0_0_0, EBR
OUTPORT = ram_data_0, DOB0
OUTPORT = ram_data_1, DOB1
OUTPORT = ram_data_2, DOB2
OUTPORT = ram_data_3, DOB3
OUTPORT = ram_data_4, DOB4
OUTPORT = ram_data_5, DOB5
OUTPORT = ram_data_6, DOB6
OUTPORT = ram_data_7, DOB7

